parameters:
    level: 7
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - /^Variable property access/
includes:
  	- vendor/phpstan/phpstan-strict-rules/rules.neon
