<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
    </logging>
    <php>
        <ini name="session.use_cookies" value="0" />
        <ini name="session.use_only_cookies" value="0" />
        <ini name="session.use_trans_sid" value="0" />
        <ini name="session.cache_limiter" value="" />
    </php>
</phpunit>

